/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21.3.2018, 13:54:19
    Author     : Matouš Synek
*/

.button{
    -fx-background-radius: 60;
    -fx-background-color: #546e7a;
}
.button:hover{
    -fx-border-color: #1de9b6;
    -fx-border-width: 3;
    -fx-border-radius: 60;
}

