/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.5.2018, 12:02:50
    Author     : Matouš
*/

.anchor-pane{
    -fx-background-color: #263238 ;
}
.toggle-button{
    -fx-background-color: #37474f ;
    -fx-border-radius: 1;
}
.toggle-button:selected{
    -fx-background-color: #455a64;
    -fx-border-color: #03a9f4;
    -fx-border-width: 3;
}
.border-pane{
    -fx-text-fill: white;
}
.anchor-pane-left{
    -fx-background-color:  #37474f;
}
.chart-series-line{
    -fx-stroke: #26c6da;
    -fx-effect: null;
    -fx-stroke-width: 4px;
}
.chart-plot-background {
    -fx-background-color: #37474f;
}
.chart-title{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.axis-label{
    -fx-text-fill: white;
}
.slider .thumb{
    -fx-background-color: #26c6da;
    -fx-pref-height: 20px;
    -fx-pref-width: 20px;
}
.slider .thumb:pressed{
    -fx-pref-height: 30px;
    -fx-pref-width: 30px;
}
.slider .track{
    -fx-background-color: #37474f;
    -fx-pref-height: 10px;
}